<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.PCertificateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.PCertificateInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="certificate_scanning_file" property="certificateScanningFile" jdbcType="VARCHAR" />
    <result column="other_scanning_file" property="otherScanningFile" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="regenerator" property="regenerator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, certificate_scanning_file, other_scanning_file, is_delete, create_date, creator, 
    update_date, regenerator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_certificate_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_certificate_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.PCertificateInfo" >
    insert into p_certificate_info (id, certificate_scanning_file, other_scanning_file, 
      is_delete, create_date, creator, 
      update_date, regenerator)
    values (#{id,jdbcType=INTEGER}, #{certificateScanningFile,jdbcType=VARCHAR}, #{otherScanningFile,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{regenerator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.PCertificateInfo" >
    insert into p_certificate_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="certificateScanningFile != null" >
        certificate_scanning_file,
      </if>
      <if test="otherScanningFile != null" >
        other_scanning_file,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="regenerator != null" >
        regenerator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="certificateScanningFile != null" >
        #{certificateScanningFile,jdbcType=VARCHAR},
      </if>
      <if test="otherScanningFile != null" >
        #{otherScanningFile,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regenerator != null" >
        #{regenerator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.PCertificateInfo" >
    update p_certificate_info
    <set >
      <if test="certificateScanningFile != null" >
        certificate_scanning_file = #{certificateScanningFile,jdbcType=VARCHAR},
      </if>
      <if test="otherScanningFile != null" >
        other_scanning_file = #{otherScanningFile,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regenerator != null" >
        regenerator = #{regenerator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.PCertificateInfo" >
    update p_certificate_info
    set certificate_scanning_file = #{certificateScanningFile,jdbcType=VARCHAR},
      other_scanning_file = #{otherScanningFile,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      regenerator = #{regenerator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>